.header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.profile__bg {
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 50%;
  > img {
    width: 100%;
    object-fit: cover;
  }
}
.first__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  > button {
    background: none;
    border: none;
  }
}
.separate {
  height: 1rem;
  width: 2px;
  background: #ccc;
}

.side__left {
  display: flex;
  align-items: center;
}
.left__container {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  background: #fff;
  padding: 0.5rem;
  > input {
    border: none;
    padding: none;
    outline: none;
  }
  > button {
    background: none;
    border: none;
    outline: none;
    background: var(--first-color);
    padding: 0.5rem;
    color: #fff;
    border-radius: 0.2rem;
  }
}
